.Banner {
  width: 80%;
  height: 3rem;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 3px;
  position: relative;

  .EditButton {
    border: 1px solid black;
    border-radius: 3px;
    position: absolute;
    top: -5px;
    right: -5px;
    &:hover {
      cursor: pointer;
    }
  }
}
