.JobEditContainer {
  background-color: white;
  border: 3px solid black;
  border-radius: 2px;
  text-align: center;
  padding-bottom: 1rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

  .ColorItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .ColorItem {
      height: 1rem;
      width: 1rem;
      border: 1px solid black;
      margin: 0.5rem;
      border-radius: 500px;
    }

    .ColorItem:hover {
      cursor: pointer;
    }
  }
  .ColorRepresentation {
    height: 1rem;
    width: 1rem;
    border: 1px solid black;
    margin: 0.5rem;
    display: inline-block;
    vertical-align: middle;
  }
}
